<h2>Contact Us</h2>
<p>
Ravi Palanivelu, Ph.D. <br>
Associate Professor <br>
School of Plant Sciences <br>
BIO5 <br>
Molecular and Cellular Biology <br>
Genetics GIDP <br>
The University of Arizona <br>
<br>
email: rpalaniv (#!) email.arizona.edu <br>
<br>
Marley Building Room 441E (Office), 418-420 (Lab) <br>
The University of Arizona <br>
Tucson, AZ 85721 <br>
</p>

<p>
<h3> Interested in joining the Palanivelu lab? </h3>
<a href="{{ site.url }}/join"><b>Please reach out!</b></a> We welcome applicants from all backgrounds.<br>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul>
